video/*
__pychache__
*.pyc
*.mat
*.jpg
*.mp4
*.pth
*.h5
*/opt.txt
ExtractPitchLines/*
ExtractPitchLines
checkpoints/experiment_name/*
output_images/*
# input_footage/video/*
# input_footage/picture/*
